* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}
a:visited, a:link {
    text-decoration: none;
}
body {
    font-size: 12px;
}
/*main-layout start*/

.header, .footer, .banner {
    width: 100%;
}
.content, .nav {
    width: 960px;
    margin: 0 auto;
}
.footer p {
    display: block;
    text-align: center;
}
/*main-layout end*/
/*header start*/

header {
    background: #333;
    height: 94px;
}
.logo {
    float: left;
    width: 152px;
    height: 46px;
    background: yellow;
    margin-top: 25px;
}
nav {
    float: left;
    margin: 45px 0 0 50px;
}
.nav li {
    float: left;
    font-size: 14px;
    margin-right: 60px;
}
.nav a {
    color: #fff;
}
.search {
    float: right;
    margin-top: 45px;
    height: 21px;
}
/*header end*/
/*banner start*/

.banner {
    height: 370px;
    background: blue;
}
/*banner end*/
/*content start*/

.shop-online {
    padding: 20px 0 25px 100px
}
.shop-online a {
    display: inline-block;
    width: 135px;
    margin-right: 175px;
}
.shop-online a:last-child {
    margin-right: 0;
}
.shop-online img {
    width: 135px;
    height: 156px;
}
.shop-online span {
    padding-top: 5px;
    display: block;
    text-align: center;
}
.contact {
    color: #28282d;
    height: 375px;
}
.news {
    padding: 3px 0 0 8px;
    width: 279px;
    float: left;
}
.news img {
    display: block;
    width: 270px;
    height: 112px;
    margin: 20px 0;
}
.news h1 {
    font-size: 16px;
}
.news li {
    margin-bottom: 30px;
}
.news li a {
    color: #28282d;
}
.about {
    float: right;
    padding: 3px 0 0 20px;
    width: 613px;
}
.about img {
    width: 280px;
    height: 180px;
}
.about h1 {
    font-size: 20px
}
.page-info {
    float: right;
    width: 300px
}
.page-info a {
    float: right;
}
.title {
    padding: 0.5em 0 1em 0;
    display: block;
}
.title a {
    display: inline;
    float: none;
}
/*content end*/
/*footer start*/

.footer {
    background: #333;
    padding: 1em 0;
}
.logo-footer {
    margin: 0 auto 1em auto;
    width: 152px;
    height: 46px;
    display: block;
    background: yellow;
}
/*footer end*/
